<form [formGroup]="loginForm" (submit)="login()" autocomplete="on">
  <label for="email">
    <div class="text-xs-left">Username</div>
    <input id="email" formControlName="email" class="form-control" type="email" placeholder="Username" autocomplete="email">
  </label>
  <label for="password">
    <div class="text-xs-left">Password</div>
    <input id="password" formControlName="password" class="form-control" type="password" placeholder="Password" autocomplete="password">
  </label>
  <span class="login-button-wrapper">
    <button class="btn btn-primary">Login</button>
  </span>
</form>

<div class="error-block" *ngIf="loginError">
  <p>Login failed.</p>
  <p>{{loginError.message}}</p>
</div>

<p>No account yet? <a (click)="routeToSignUp()">Sign up here.</a></p>
