.events {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-wrapper {
  $eventWidth: 350px;
  flex: 0 0 $eventWidth;
  margin-right: 10px;
  margin-bottom: 10px;
}

h5 {
  text-align: center;
  margin: 10px;
}

.wrapper {
  margin: 20px 0;
}
