<form [formGroup]="signUpForm" (submit)="signUp()" autocomplete="on">
  <h3>Nice to meet you!</h3>
  <div>
    <label for="email">
      <div class="text-xs-left">What username do you like?</div>
      <input id="email" formControlName="email" class="form-control" type="email" placeholder="Username">
    </label>
  </div>

  <!--<div>-->
  <!--<label>-->
  <!--<div class="text-xs-left">What's your email?</div>-->
  <!--<input class="form-control" type="text" placeholder="Username">-->
  <!--</label>-->
  <!--</div>-->

  <div *ngIf="!signUpForm.controls.showPassword.value">
    <label for="password">
      <div class="text-xs-left">Use a secure password.</div>
      <input id="password" formControlName="password" class="form-control" type="password" placeholder="Password">
    </label>
  </div>

  <div *ngIf="signUpForm.controls.showPassword.value">
    <label for="visiblePassword">
      <div class="text-xs-left">Use a secure password.</div>
      <input id="visiblePassword" formControlName="visiblePassword" class="form-control" type="text" placeholder="Password">
    </label>
  </div>


  <div>
    <label>
      <span>Show Password</span>
      <input type="checkbox" formControlName="showPassword">
    </label>
  </div>

  <button class="btn btn-primary">Signup</button>
</form>

<div class="error-block" *ngIf="signUpError">
  <p>Signup failed.</p>
  <p>{{signUpError.message}}</p>
</div>

<p>Already got an account? <a routerLink="/">Login here.</a></p>
