:host {
  display: block;
  border: 1px solid lightgray;

  .content {
    padding: 5px;

    h5 {
      margin: 5px 0px;
    }

    .intro-message-wrapper {
      min-height: 35px;

      p {
        margin: 0;
      }

      .intro-message {
        font-size: 0.8em;
        margin: 0;
      }
    }

    .participate-toggle {
    }

    div {
      font-size: 0.8em;
    }

  }

  .headline-image {
    height: calc(350px * (9 / 16));
    background: url(/images/default.jpg);
    background-size: cover;
    background-position: top center;
    border-bottom: 1px solid lightgray;

  }

  .show-description-toggle {
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: underline;
  }
}

.twitter-button {
  background: #1b95e0;
  border: none;
  color: white;
}
